  <!-- Section 1: Bank Management System Introduction -->
  <section class="bg-bank-1 text-center text-white py-5">
    <div class="container">
        <h1 class="display-4">Bank Management System</h1>
        <p>My GRIP '23 Program Task 1</p>
    </div>
</section>

<!-- Section 2: Cards for Viewing Customers and Transferring Money -->
<section class="py-5 bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4"> <!-- Added mb-4 class for margin-bottom -->
            <div class="card-body">
              <h5 class="card-title">View All Customers</h5>
              <p class="card-text">Browse and manage customer accounts.</p>
              <a routerLink="/customer" class="btn btn-primary card-link">Go to Customers</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Transfer Money</h5>
              <p class="card-text">Transfer funds between customer accounts.</p>
              <a routerLink="/money" class="btn btn-primary card-link">Transfer Money</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Section 3: About Me -->
<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h2 class="card-title">About Me</h2>
                        <p class="card-text">Hello, I am <span id="typed-text">Kaushal Ratnapagol</span></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="btn-group d-flex justify-content-center" role="group">
                                <a href="mailto:kaushal.ratnapagol20@vit.edu" class="btn btn-primary">Email</a>
                                <a href="https://www.linkedin.com/in/kaushal-ratnapagol/" class="btn btn-primary">LinkedIn</a>
                                <a href="https://github.com/Kaushalrr006" class="btn btn-primary">GitHub</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
